body{
  margin:0;
  padding:0;
  font-family: sans-serif;
}

.todo-title{
  cursor: pointer;
}

.completed-todo{
  text-decoration: line-through;
}

.tab-list > span {
  padding: 5px 8px;
  border: 1px solid rgb(13, 159, 204);
  border-radius:10px;
  margin-right: 20px;
  cursor: pointer;
}

.tab-list>span.active {
  background-color: rgb(13, 159, 204);
  color: #fff;
}