<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Blog Posts</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="bg-gray-100 font-sans antialiased">
    
    <!-- Navbar -->
    <nav class="bg-blue-600 p-4 text-white flex justify-between">
        <div>
            <h1 class="text-3xl font-bold">AI Blog Generator</h1>
        </div>
        <div>
            <a href="#" class="text-white hover:underline mx-4">Welcome {{ user.username }}</a>
            <a href="/blog-list" class="text-white hover:underline mx-4">Saved Blog Posts</a>
            <a href="#" class="text-white hover:underline">Logout</a>
        </div>
    </nav>

    <!-- Main Content Container -->
    <div class="container mx-auto mt-10 px-4 sm:px-0">
        <div class="max-w-3xl mx-auto bg-white p-6 rounded-lg shadow-md">

            <!-- Blog posts section -->
            <section>
                <h2 class="text-xl mb-4 font-semibold">All Blog Posts</h2>
                <div class="space-y-4">
                    
                    {% for article in blog_articles reversed %}
                    <a href="blog-details/{{article.id}}">
                        <div class="border border-gray-300 p-4 rounded-lg">
                            <h3 class="text-lg font-semibold">{{article.youtube_title}}</h3>
                            <p>{{article.generated_content|truncatechars:80}}</p>
                        </div>
                    </a>
                    {% endfor %}
                    
                    <!-- Repeat -->
                </div>
            </section>

        </div>
    </div>

    <footer class="text-center p-4 text-black mt-6">
        Powered by <a href="#">Code With Aumit</a>
     </footer>
</body>
</html>