<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ai Blog Generator</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="styles.css">
    <style>
        @keyframes rotate {
            from {
                transform: rotate(0deg);
            }
            to { 
                transform: rotate(360deg);
            }
        }
         
        
         @-webkit-keyframes rotate {
            from {
                -webkit-transform: rotate(0deg);
            }
            to { 
                -webkit-transform: rotate(360deg);
            }
        }
        
        .load {
            width: 100px;
            height: 100px;
            margin: 110px auto 0;
            border:solid 10px #8822aa;
            border-radius: 50%;
            border-right-color: transparent;
            border-bottom-color: transparent;
             -webkit-transition: all 0.5s ease-in;
            -webkit-animation-name:             rotate; 
            -webkit-animation-duration:         1.0s; 
            -webkit-animation-iteration-count:  infinite;
            -webkit-animation-timing-function: linear;
                
                 transition: all 0.5s ease-in;
            animation-name:             rotate; 
            animation-duration:         1.0s; 
            animation-iteration-count:  infinite;
            animation-timing-function: linear; 
        }
    </style>
</head>
<body class="flex flex-col min-h-screen bg-gray-100 font-sans antialised">
    
    <!-- Navbar -->
     <nav class="bg-blue-600 p-4 text-white flex justify-between">
        <div>
            <h1 class="text-3xl font-bold">AI Blog Generator</h1>
        </div>
        <div>
            <a href="#" class="text-white hover:underline mx-4">Welcome {{ user.username }}</a>
            <a href="/blog-list" class="text-white hover:underline mx-4">Saved Blog Posts</a>
            <a href="#" class="text-white hover:underline">Logout</a>
        </div>

     </nav>
     <br>
     <br>

     <!--Main-->

     <div class="flex-grow container mx-auto mt-10 px-4 sm:px-8">
        <div class="max-w-3xl mx-auto bg-white p-6 rounded-lg shadow-md transition-transform transform hover:scale-105 flex flex-col">
            <!--Introduction Section-->
            <div class="text-center">
                <h2 class="text-2xl font-semibold mb-4">Welcome to the AI Blog Generator</h2>
                <p class="text-gray-700">
                    Generate high-quality blog articles using artificial intelligence. Simply enter the link to the Youtube video below and let the AI create the content for you! 
                </p>
            </div>
            <br>
            <!-- Youtube Section -->
             <div>
                <h2 class="text-xl mb-4 font-semibold">Enter Youtube Video Link</h2>
                <div class="flex space-x-4">
                 <input id="youtubeLink" type="url" placeholder="Paste Youtube Video Link..." class="flex-grow p-2 border border-blue-400 rounded-l-md">
                 <button id="generateBlogButton" class="bg-blue-600 text-white px-4 py-2 rounded-r-md hover: bg-blue-700 transition-colors">Generate</button>
                </div>
             </div>
             <!--Section for loading section-->
             <div style="display: none;" id="loading-circle" class="load"></div>
             <!--Generated Blog Display Section-->
             <section class="mt-10 flex-grow">
                <h2 class="text-xl mb-4 font-semibold">Generated Blog Article</h2>
                <div id="blogContent" class="mt-2 text-gray-700 space-y-4">

                </div>
             </section>
        </div>
     </div>

     <footer class="text-center p-4 text-black mt-6">
        Powered by <a href="#">Code With Aumit</a>
     </footer>

     <script>

        document.getElementById('generateBlogButton').addEventListener('click', async () => {
            

            const youtubeLink = document.getElementById('youtubeLink').value;
            const blogContent = document.getElementById('blogContent');
            
            if(youtubeLink) {
                document.getElementById('loading-circle').style.display = 'block';
                
                blogContent.innerHTML = ''; // Clear previous content

                const endpointUrl = '/generate-blog';
                
                try {
                    const response = await fetch(endpointUrl, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify({ link: youtubeLink })
                    });

                    const data = await response.json();

                    blogContent.innerHTML = data.content;

                } catch (error) {
                    console.error("Error occurred:", error);
                    alert("Something went wrong. Please try again later.");
                    
                }
                document.getElementById('loading-circle').style.display = 'none';
            } else {
                alert("Please enter a YouTube link.");
            }
        });

     </script>


</body>
</html>
